{# Template général de la page #}
{% extends 'base.html.twig' %}

{# Titre de la page #}
{% block title %}Mon titre{% endblock %}

{# Ici vous mettez vos codes HTML et balises Twig au besoin #}
{% block body %}
    <nav class="relative w-full flex flex-wrap items-center justify-between py-3 bg-gray-100 text-gray-500 hover:text-gray-700 focus:text-gray-700 shadow-lg">
        <div class="container-fluid w-full flex flex-wrap items-center justify-between px-6">
            <div class="container-fluid flex justify-between items-center border-b-2 border-gray-100 md:justify-start md:space-x-64">
                <a class="text-xl text-black" href="#">Accueil</a>
                <a class="text-xl text-black" href="#">Recettes</a>
                <a class="text-xl text-black" href="#">A propos</a>
                <a class="text-xl text-black" href="#">Contact</a>
                <a class="text-xl text-black" href="#">Connexion</a>
            </div>
        </div>
    </nav>

    <div class="allign-center pt-8">
        <img
                class="mx-auto w-48"
                src="{{ asset('imgs/logo.png')}}"
                alt="logo"
        />
        <h1 class="text-center text-xl font-medium">AVENTURES GUSTATIVES</h1>
    </div>


    <h1>Mon super titre H1</h1>

    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <h2>Welcome {{ app.user.firstName }}</h2>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="user-dropdown">
            <li>
                <a class="dropdown-item" href="{{ path('app_logout') }}">Log Out</a>
            </li>
        </ul>

    {% else %}
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="user-dropdown">
            <li>
                <h3><a href="{{ path('app_login') }}">Login</a></h3>
            </li>
            <li>
                <h3><a href="{{ path('app_register') }}">Register</a></h3>
            </li>
        </ul>
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="user-dropdown">
            <li>
                <h3><a class="nav-link" href="{{ path('app_admin') }}">Admin</a></h3>
            </li>
        </ul>
    {% endif %}

    <p>Un paragraphe contenant pleins de mots à lire</p>

{% endblock %}